---
layout: default
---

<header style="background-color: #2c3e50; color: white; padding: 150px 0 50px 0; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 style="text-transform: uppercase; font-weight: 700;">{{ page.title }}</h1>
                <hr class="star-light">
                <p class="meta" style="font-style: italic;">
                    Posted on {{ page.date | date: "%B %d, %Y" }}
                </p>
            </div>
        </div>
    </div>
</header>

<article class="container" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2" style="line-height: 1.8; font-size: 18px; color: #333;">
            
            <div class="post-content">
                {{ content }}
            </div>

            <hr style="margin-top: 50px; border-top: 1px solid #eee;">
            
            <div style="margin-top: 30px;">
                <a href="{{ '/blog/' | relative_url }}" class="btn btn-primary" style="text-transform: uppercase;">
                    <i class="fa fa-arrow-left"></i> Back To Blog
                </a>
            </div>
        </div>
    </div>
</article>